/*
primary color:#212121;
	light:#484848;
	dark:#000000;
	text:#ffffff;
secondary-color:#64dd17;
	light:#9cff57;
	dark:#1faa00;
	text:#000000;


*/
body {
	background-color:#1b5e20;
	color:#64dd17;
	margin:0px;
	text-align:center;
	height:2048px;
	text-shadow:1px 1px black;
}
header {
	color:#ffffff;
	background-color:#003300;;
	height:99.7vh;
	opacity:0.7;
	border-bottom:2px solid #64dd17;
	box-shadow:2px 0px #1faa00;
}

header > p {
	margin:auto;
	opacity:0.3;
}
nav {
	background-color:rgba(0,0,0,0.8);
	box-shadow:1px 1px black;
	position:absolute;
	top:20%;
	width:100%;
	height:25%;
	z-index:100;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav > h1 {
	font-size:200%;
	text-transform:uppercase;
	letter-spacing:0.1em;
	word-spacing:0.2em;
	margin-bottom:0px;
}
nav p {
	font-size:90%;
	color:rgba(0,0,0,0.6)
	margin:5px;
}


/* slideshow css */
#slideshow-container {
	position:relative;
	height:99vh;
	width:100%
}
.slides {
	z-index:-1;
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	height:99vh;
	width:100%;
}
.slides > div {
	top:0px;
}
.slides img {
	width:100%;
	height:100%;
	opacity:0.8;
}

/* enable if pointers are wanted
.prev, .next {
	cursor:pointer;
	width:auto;
	position:absolute;
	top:49vh; /* aligns verticaly to 40% of the screen position 
	margin-top:20px;
	border-radius: 0 3px 3px 0;
	transition: 0.6s ease;
}
.next {
	right:10px;
}
.prev {
	left:10px;
}
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
*/
.image-name {
	color: #f2f2f2;
	position:absolute;
	bottom:10px;
	text-align:center;
	width:100%;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: 0.4} 
  to {opacity: 0.8}
}

@keyframes fade {
  from {opacity: 0.4} 
  to {opacity: 0.8}
}

/* my list css */
#my-streamers {
	position:absolute;
	z-index:100;
	/*above makes is so that li dont alter the html/page flow*/
	margin-top:5px;
	margin-left:1px;
	float:left;
	width:200px;
	height:400px;
	z-index:1;

}
#my-streamers > ul {
	list-style-type: none;
	padding:0;
	margin:0;
	position:relative;
}
#my-streamers button {
	background-color:#212121;
	color:#ffffff;
	width:100%;
	border:2px solid #1faa00;
	border-radius:5px;
}
#my-streamers ul li{
	/*border:1px solid green;*/
	color:#ffffff;
	width:100%;
}
li:hover {
	box-shadow: 0 0 10px black;
}
#my-streamers-list {
	border:2px solid #1faa00;
	border-radius:5px;
	box-shadow: 0 0 10px black;
}
span {;
	height:10px;
	background-color:red;
	width:10px;
	float:right;
	border-radius:100%;
}
.online {
	background-color:green;
}
.closed {
	background-color:#333;
}

/* carousel css */
#carousel {
	position:relative;
	display:block;
	border-top:2px solid #9cff57;
	border-bottom:3px solid #1faa00;
	height:150px;
	margin-top:50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#carousel div {
	float:left;
	position:relative;
	display:inline-block;
	height:150px;
	width:14.285%;
	overflow:hidden;
}
#carousel div img {
	width:100%;
	height:100%;
}
/*#carousel:hover { /* changes the video height when you hover/starts playing 
	margin-top:100px;
	height:350px;
}*/
#main-frame {
	margin:auto;
	margin-top:50px;
	/*border:1px solid white;*/
	width:400px;
	height:300px;
}
.active {
	transform:scale(1.1);
	box-shadow: 0 0 10px black;
	z-index:100;
}
.inactive {
	color:#1faa00;
	opacity:0.5;
}
#remove-me {
	opacity:0.5;
}


footer {
	width:100%;
}
